<mat-card *ngIf="!isSignup">
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
        <form [formGroup]="loginForm">
            <p>
                <mat-form-field>
                    <input type="text" matInput placeholder="Username" formControlName="username">
                </mat-form-field>
            </p>

            <p>
                <mat-form-field>
                    <input type="password" matInput placeholder="Password" formControlName="password">
                </mat-form-field>
            </p>

            <p *ngIf="error" class="error">
                {{ error }}
            </p>

            <div class="button">
                <button (click)="login()" mat-button>Login</button>
                <button (click)="signup()" mat-button>SignUp</button>
            </div>

        </form>
    </mat-card-content>
</mat-card>



<mat-card *ngIf="isSignup">
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
        <form [formGroup]="signupForm">
            <p>
                <mat-form-field>
                    <input type="text" matInput placeholder="Username" formControlName="username">
                </mat-form-field>
            </p>

            <p>
                <mat-form-field>
                    <input type="text" matInput placeholder="Email" formControlName="email">
                </mat-form-field>
            </p>

            <p>
                <mat-form-field>
                    <input type="password" matInput placeholder="Password" formControlName="password">
                </mat-form-field>
            </p>

            <p>
                <mat-form-field>
                    <input type="password" matInput placeholder="Confirm Password" formControlName="cnfPassword">
                </mat-form-field>
            </p>

            <p *ngIf="error" class="error">
                {{ error }}
            </p>

            <div class="button">
                <button (click)="login()" mat-button>Login</button>
                <button (click)="signup()" mat-button>SignUp</button>
            </div>

        </form>
    </mat-card-content>
</mat-card>