<mat-card>
    <mat-card-title class="center-form">Create/Edit Event</mat-card-title>
    <mat-card-content>
        <form [formGroup]="form">
            <p class="center-form">
                <mat-form-field>
                    <input type="text" matInput placeholder="Event Name" formControlName="name">
                </mat-form-field>
            </p>

            <p class="center-form">
                <mat-form-field>
                    <input type="text" matInput placeholder="Description" formControlName="description">
                </mat-form-field>
            </p>

            <p class="center-form">
                <mat-form-field>
                    <input type="number" matInput placeholder="Duration in hours" formControlName="duration">
                </mat-form-field>
            </p>

            <p class="center-form">
                <mat-form-field>
                    <input type="text" matInput placeholder="Location" formControlName="location">
                </mat-form-field>
            </p>

            <p class="center-form">
                <mat-form-field>
                    <input type="number" matInput placeholder="Fees" formControlName="fees">
                </mat-form-field>
            </p>

            <p class="center-form">
                <mat-form-field>
                    <input type="text" matInput placeholder="Tags" formControlName="tags">
                </mat-form-field>
            </p>

            <p class="center-form">
                <mat-form-field>
                    <input type="number" matInput placeholder="Max Num of Participants" formControlName="maxParticipants">
                </mat-form-field>
            </p>

            <p *ngIf="error" class="error">
                {{ error }}
            </p>

            <div class="center-form form-width">
                <button (click)="save()" mat-button>Save</button>
                <button (click)="close()" mat-button>Cancel</button>
            </div>

        </form>
    </mat-card-content>
</mat-card>