.event-card {
    min-width: 250px;
    padding: 5px;
    margin: 5px;
}

mat-card-actions {
    display: flex;
    justify-content: space-between;
}

.event-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.add-event {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    padding-bottom: 20px;
}

.modif-icons {
    padding: 0px 10px 10px 0px;
}

.content {
    display: flex;
    flex-direction: column;
}

.participated {
    cursor: not-allowed;
}