<div class="add-event">
    <button mat-fab aria-label="Notification" (click)="logout()">
        <mat-icon>logout</mat-icon>
    </button>
    <button mat-fab aria-label="Notification" (click)="showNotifications()">
        <mat-icon>notifications</mat-icon>
    </button>
    <button mat-fab aria-label="Add Event" (click)="openDialog()">
        <mat-icon>add</mat-icon>
    </button>
</div>

<div class="event-cards">
    <mat-card class="event-card" *ngFor="let event of events;">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{event.name}}</mat-card-title>
            <mat-card-subtitle>{{event.description}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="content">
            <p>
                Duration: {{event.duration}} hrs
            </p>
            <p>
                Location: {{event.location}}
            </p>
            <p>
                Fees: {{event.fees}}
            </p>
            <p>
                Tag: {{event.tags}}
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-icon-button aria-label="Participate in Event" (click)="participate(event)" *ngIf="event.createdBy != userId">
                <mat-icon *ngIf="!event.subscribed">group_add</mat-icon>
                <mat-icon *ngIf="event.subscribed">favorite</mat-icon>
            </button>
        <button mat-icon-button aria-label="Created or Participated in Event" *ngIf="event.createdBy == userId" class="participated">
                <mat-icon>assignment_turned_in</mat-icon>
            </button>
            <div *ngIf="event.createdBy == userId">
                <button mat-icon-button aria-label="Edit Event">
                    <mat-icon (click)="edit(event)" class="modif-icons">edit</mat-icon>
                </button>
                <button mat-icon-button aria-label="Delete Event">
                    <mat-icon (click)="delete(event)" class="modif-icons">delete</mat-icon>
                </button>
            </div>
        </mat-card-actions>
    </mat-card>
</div>